<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static',filename='login.css')}}">
   
</head>
<body>
    
    <div id="box">
    <form id="loginForm">
        <h1 id="login">LOGIN</h1>
        <label for="username">Email:</label>
        <input type="text" id="username" name="E-Mail"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <button type="button" onclick="login()">Login</button>
        <button id="register" type="button" onclick="registerpage()" >Register</button>
    </form>
    </div>

    <script>
        function login() {
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ username, password }),
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    </script>
    <script>
        document.getElementById('register').addEventListener('click', function registerpage() {
            window.location.href = "{{ url_for('register_page') }}";
        });
    </script>

    
</body>
</html>
