<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="{{url_for('static', filename='service.css')}}">
</head>
<body>
    <h1 id="servicetitle">SERVICES</h1>
    <div class="service-description">
        <h2>Distributorship</h2>
        <p>Distributorship services involve distributing our products across various regions. We offer partnership opportunities to distribute our products effectively and efficiently.</p>
        <p>Benefits include access to our established network, marketing support, and competitive pricing.</p>
    </div>
    <div class="service-description">
        <h2>Taking Franchises</h2>
        <p>Our company specializes in taking franchises from other companies. We offer opportunities to expand your brand through our established network and operational expertise.</p>
        <p>For more information on how to partner with us through franchising opportunities, please contact us at <a href="https://kedar-0bxj.onrender.com/contact_page">Contact us</a></p>
    </div>
</div>
</body>
</html>
